* {
    margin: 0;
    padding: 0;
}

html, body {
    font-family: "Comic Sans MS";
    background-color: whitesmoke;
    overflow: hidden;
    font-size: 125%;
}

#myCanvas {
    display: none;
}

#flexContainer {
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    transition: all 5s linear;
}

small {
    font-size: 25%;
}

#startGameBtn {
    margin-top: 25px;
    width: 50vw;
    height: 25vh;
    font-size: 250%;
    border: 4px dotted darkred;
    font-family: papyrus;
    color: red;
    background-color: darkred;
}

#startGameBtn:hover {
    border: 8px solid black;
}